doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title District Genius
    link(rel="stylesheet", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", href="//unpkg.com/leaflet@1.2.0/dist/leaflet.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.10/leaflet.draw.css")
    link(rel="stylesheet", href="/map.css")
  body
    input#csrf(type="hidden", value=csrfToken)
    input#user_id(type="hidden", value=currentUser._id)
    input#mapID(type="hidden", value=map._id)
    .container
      .row
        .col-sm-12
          .pull-right.user-profile-stuff
            if currentUser._id
              strong= currentUser.username
              span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              a(href="/logout") Log Out
            else
              strong Speak Up:
              span &nbsp;&nbsp;
              a(href="/login") Log In
              span &nbsp;|&nbsp;
              a(href="/register") Register
          h3.title District Genius
          form.form-inline(action="/find", method="POST")
            input(type="hidden", name="_csrf", value=csrfToken)
            .form-group
              input.form-control(type="text", name="address", placeholder="Address")
              input.btn.btn-success(type="submit", value="Find my District")
      .row
        .col-sm-12
          #map
          br
          br
      .row
        //
          .col-sm-4

          .col-sm-4
            a.btn.btn-success(href="/upload") Upload a District
          .col-sm-4
            a.btn.btn-success(href="/") ???

    script(src="//unpkg.com/leaflet@1.2.0/dist/leaflet.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.10/leaflet.draw.js")
    script(src="//npmcdn.com/@turf/turf@4.6.1/turf.min.js")
    script(src="//code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    script var comments = !{JSON.stringify(comments)}; var state = !{JSON.stringify(map.state)}; var dnum = !{JSON.stringify(map.district)};
    script(src="/map.js")
